html {
    font-family: 'Montserrat', sans-serif;
}

body {
    color: lightgrey;
    background-color: rgb(27, 27, 27);
}

button {
    font-family: inherit;
    font-size: 15px;
    border: none;
    background-color: rgb(27, 27, 27);
    color: lightgrey;
    cursor: pointer;
    margin-left: 33px;
}

a {
    text-decoration: none;
}

ul#menu li {
    display: inline;
    margin-right: 40px;
}